/* styles.css */

/* Header Container */
.header-container {
    width: 100%; /* Full width */
    background-color: rgba(0, 0, 0, 0.8); /* Background color for the header */
}

/* Navbar styles */
.navbar {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically in the center */
    width: 100%; /* Full width of the header */
    padding: 10px 20px; /* Padding for the navbar */
}

/* Align navbar items */
.navbar-nav {
    display: flex; /* Use flexbox for horizontal alignment of navigation links */
    flex-direction: row; /* Ensures items are arranged in a row */
    gap: 20px; /* Space between buttons */
    margin-right: auto; /* Pushes the logo to the center */
}

.nav-link {
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    font-weight: 500; /* Similar to Sign Up button */
    transition: color 0.3s; /* Smooth color transition */
}

.nav-link:hover {
    color: #ff357a; /* Change color on hover */
}

.website-name {
    font-size: 3em;
    color: #fff; /* Default text color for dark theme */
    text-align: center; /* Center the logo text */
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0; /* Remove margin to keep it centered */
    position: relative;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
    flex-grow: 1; /* Allow the logo to take up remaining space */
}
